.barra {
    color: white; 
    :hover {
        color: black;
    }
}
.precios {
    color: black;
}
.tituloprecio {
    color: black;
}
.descripcion {
    background-color: rgb(20,62, 124);
}
.titulo {
    color: white;
}
.footer {
    color: white;
}
.formulario {
    background-color: beige;
}
.locales { 
    background-image: radial-gradient(blue, cyan,white);
}
.titulofotos {
    color: black;
    background-image: linear-gradient(cyan, darkblue);
}